<template>
	<div>
		<div id="container" class="container main">
			<div class="mainVisualBox_2017">
				<swiper class="swiper" :options="swiperOption">
					<swiper-slide>
						<router-link to="/view/content/fashion">
							<img
								src="@/assets/images/new_2017/main/00main_01LQ.png"
								alt="LEADING LIFESTYLE BRAND COMPANY"
							/>
						</router-link>
					</swiper-slide>
					<swiper-slide>
						<router-link to="/view/content/art">
							<img
								src="@/assets/images/new_2017/main/00main_03PF.png"
								alt="CONTEMPORARY ART CENTER"
							/>
						</router-link>
					</swiper-slide>
					<swiper-slide>
						<router-link to="/view/content/fashion">
							<img
								src="@/assets/images/new_2017/main/00main_04TM.png"
								alt="LIFE STYLE TRAVEL MATE"
							/>
						</router-link>
					</swiper-slide>
					<div class="swiper-pagination" slot="pagination"></div>
					<!-- <div class="swiper-button-prev" slot="button-prev"></div>
                <div class="swiper-button-next" slot="button-next"></div> -->
				</swiper>
			</div>
			<div class="mainBanBox">
				<div class="bannerBox first">
					<router-link to="/view/content/misson">
						<img
							src="@/assets/images/new_2017/main/00main_01v&m.png"
							alt="VISION & MISSION"
						/>
					</router-link>
				</div>
				<div class="bannerBox mid">
					<router-link to="/view/content/news">
						<img
							src="@/assets/images/new_2017/main/00main_02recentnews.png"
							alt="RECENT NEWS"
						/>
					</router-link>
				</div>
				<div class="bannerBox last">
					<router-link to="/view/content/map">
						<img
							src="@/assets/images/new_2017/main/00main_03conactus.png"
							alt="CONTACT US"
						/>
					</router-link>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import 'swiper/css/swiper.css';
export default {
	name: 'swiper-example-loop',
	title: 'Loop mode / Infinite loop',
	components: {
		Swiper,
		SwiperSlide,
	},
	data() {
		return {
			swiperOption: {
				slidesPerView: 1,
				spaceBetween: 30,
				loop: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
				effect: 'fade',
			},
		};
	},
};
</script>

<style style="scss">
.swiper-pagination span {
	background-color: #fff;
	opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
	background-color: #333;
}
</style>
