<template>
	<div class="ciBox">
		<!-- //content_header -->
		<section>
			<div class="ciBox">
				<img src="@/assets/images/new_2017/about/ci_contenti.png" />
			</div>
		</section>
	</div>
</template>

<script>
export default {};
</script>

<style></style>
