<template>
	<div class="missionBox">
		<dl class="history_detail blind">
			<dt>MISSION</dt>
			<dd>
				우리는 전통과 혁신이 어우러진 창조의 아름다움과 문화적 풍요로움을
				제공하여 더 나은 세상을 만든다.
			</dd>
			<dt>VISSION</dt>
			<dd>혁신적인 글로컬 라이프스타일 기업연합</dd>
			<dd>Innovative Glocal Lifestyle Alliance Group</dd>
			<dt>CORE VALUE</dt>
			<dd>고객지향, 대내외 협력, 창조적혁신, 열정 및 주인의식</dd>
		</dl>
	</div>
</template>

<script>
export default {};
</script>

<style></style>
