<template>
	<div class="ceoBox">
		<div class="tit_box">
			<h2>
				동시대의 소비자들이 원하는 라이프스타일을 제안하는 글로컬 기업
			</h2>
		</div>
		<!-- //tit_box -->

		<div class="paragraphBox">
			<p class="txt">
				아름다운 디자인과 품질 좋은 제품으로 더 풍요롭고 더 나은 세상을 만드는
				일을 시작한지 25년. 직원 3명으로 시작한<br />회사가 고객/소비자 여러분들
				및 여러 협력파트너사분들의 사랑과 성원에 힘입어 그 동안 많은 성장을
				이루어왔습니다.
			</p>
		</div>
		<div class="paragraphBox">
			<p class="txt">
				그러나 저희는 이에 안주하지 않고 지속적으로 소비자들께 공감 받을 수 있는
				새로운 가치들을 꾸준히 제공할 수 있도록 <br />과감한 시도들을 해
				나아가고 있습니다.
			</p>
		</div>
		<div class="paragraphBox">
			<p class="txt">
				특히, 4차혁명시대를 맞이하여, 중견기업으로서 안주하기 보다는 오히려
				창업자정신/스타트업 정신을 바탕으로<br />라이프스타일
				패션/문화사업분야에서 파괴적 혁신을 통한 소비자가치 극대화를 창출하고자
				합니다.
			</p>
		</div>
		<div class="paragraphBox">
			<p class="txt">앞으로도 많은 관심과 성원 부탁드립니다.</p>
		</div>

		<div class="paragraphBox">
			<p class="txt">감사합니다.</p>
		</div>
		<dl class="ceo_sign">
			<dt>(주)태진인터내셔날 대표이사 전상우,신경민</dt>
		</dl>
	</div>
</template>

<script>
export default {};
</script>

<style></style>
