<template>
	<div id="container" class="container" :class="[categoriClass]">
		<div id="content" class="content">
			<PageLocation
				:depth1="indiDepth1"
				:depth2="indiDepth2"
				:depth3="indiDepth3"
			></PageLocation>
			<section>
				<component :is="currentComponent"></component>
			</section>
		</div>
	</div>
	<!-- <router-view></router-view> -->
</template>

<script>
import PageLocation from '@/components/PageLocation';
import AboutMission from '@/components/about/AboutMission';
import AboutCeo from '@/components/about/AboutCeo';
import AboutHistory from '@/components/about/AboutHistory';
import AboutCi from '@/components/about/AboutCi';
import BusinessFashion from '@/components/business/Fashion';
import BusinessArt from '@/components/business/Art';
import Investment from '@/components/business/Investment';
import NewsList from '@/components/news/NewsList.vue';
import NewsDetail from '@/components/news/NewsDetail.vue';
import Society from '@/components/news/Society.vue';
import Culture from '@/components/news/Culture.vue';
import Collaborate from '@/components/contact/Collaborate.vue';
import RecruitList from '@/components/contact/RecruitList.vue';
import EthicsCommittee from '@/components/contact/EthicsCommittee.vue';
import ContactMap from '@/components/contact/ContactMap.vue';

export default {
	components: {
		PageLocation,
		AboutMission,
		AboutCeo,
		AboutHistory,
		AboutCi,
		BusinessFashion,
		NewsList,
		NewsDetail,
		Society,
		Culture,
		ContactMap,
		RecruitList,
		EthicsCommittee,
		Investment,
	},
	data() {
		return {
			indiDepth1: '',
			indiDepth2: '',
			indiDepth3: '',
			categoriClass: '',
			currentComponent: AboutMission,
		};
	},
	watch: {
		$route: 'fetchData',
	},
	methods: {
		fetchData() {
			//페이지이동시 최상단으로 이동
			window.scrollTo(0, 0);
			//주소값받아와서 컴포넌트 변경
			const page = this.$route.params.page;
			if (page == 'misson') {
				this.indiDepth1 = 'ABOUT TJ';
				this.indiDepth2 = '미션 & 비전';
				this.indiDepth3 = '미션 & 비전';
				this.categoriClass = 'about';
				this.currentComponent = AboutMission;
			} else if (page == 'ceo') {
				this.indiDepth1 = 'ABOUT TJ';
				this.indiDepth2 = 'CEO 인사말';
				this.indiDepth3 = 'CEO 인사말';
				this.categoriClass = 'about';
				this.currentComponent = AboutCeo;
			} else if (page == 'history') {
				this.indiDepth1 = 'ABOUT TJ';
				this.indiDepth2 = 'TJ 히스토리';
				this.indiDepth3 = 'TJ 히스토리';
				this.categoriClass = 'about';
				this.currentComponent = AboutHistory;
			} else if (page == 'ci') {
				this.indiDepth1 = 'ABOUT TJ';
				this.indiDepth2 = 'CI';
				this.indiDepth3 = 'TJ CORPORATE IDENTITY';
				this.categoriClass = 'about';
				this.currentComponent = AboutCi;
			} else if (page == 'fashion') {
				this.indiDepth1 = 'BUSINESS PORTFOLIO';
				this.indiDepth2 = '패션 & 리테일';
				this.indiDepth3 = '';
				this.categoriClass = 'brand';
				// this.indiDepth3 = 'LOUIS QUATORZE';
				this.currentComponent = BusinessFashion;
			} else if (page == 'art') {
				this.indiDepth1 = 'BUSINESS PORTFOLIO';
				this.indiDepth2 = '아트 & 컬쳐';
				this.indiDepth3 = '';
				this.categoriClass = 'brand';
				this.currentComponent = BusinessArt;
			} else if (page == 'investment') {
				this.indiDepth1 = 'BUSINESS PORTFOLIO';
				this.indiDepth2 = '투자';
				this.indiDepth3 = 'LX INVESTMENT';
				this.categoriClass = 'brand';
				this.currentComponent = Investment;
			} else if (page == 'news') {
				this.indiDepth1 = 'RECENT NEWS';
				this.indiDepth2 = '최근소식';
				this.indiDepth3 = '';
				this.categoriClass = 'news';
				this.currentComponent = NewsList;
			} else if (page == 'newsDetail') {
				this.indiDepth1 = 'RECENT NEWS';
				this.indiDepth2 = '최근소식222';
				this.indiDepth3 = '';
				this.categoriClass = 'news';
				this.currentComponent = NewsDetail;
			} else if (page == 'society') {
				this.indiDepth1 = 'RECENT NEWS';
				this.indiDepth2 = '사회공헌활동';
				this.indiDepth3 = '사회공헌활동';
				this.categoriClass = 'news';
				this.currentComponent = Society;
			} else if (page == 'culture') {
				this.indiDepth1 = 'RECENT NEWS';
				this.indiDepth2 = '문화후원활동';
				this.indiDepth3 = '문화후원활동';
				this.categoriClass = 'news';
				this.currentComponent = Culture;
			} else if (page == 'collaborate') {
				this.indiDepth1 = 'PARTNERSHIP & CONTACT';
				this.indiDepth2 = '협업 및 제휴';
				this.indiDepth3 = '협업 및 제휴';
				this.categoriClass = 'part';
				this.currentComponent = Collaborate;
			} else if (page == 'map') {
				this.indiDepth1 = 'PARTNERSHIP & CONTACT';
				this.indiDepth2 = '오시는 길';
				this.indiDepth3 = '오시는 길';
				this.categoriClass = 'part';
				this.currentComponent = ContactMap;
			} else if (page == 'recruitList') {
				this.indiDepth1 = 'PARTNERSHIP & CONTACT';
				this.indiDepth2 = '인재채용';
				this.indiDepth3 = '채용공고/지원';
				this.categoriClass = 'part';
				this.currentComponent = RecruitList;
			} else if (page == 'ethicsCommittee') {
				this.indiDepth1 = 'PARTNERSHIP & CONTACT';
				this.indiDepth2 = '윤리경영';
				this.indiDepth3 = '윤리경영';
				this.categoriClass = 'part';
				this.currentComponent = EthicsCommittee;
			}
		},
	},
	created() {
		this.fetchData();
	},
};
</script>

<style></style>
