<template>
	<div id="container" class="container about">
		<div id="content" class="content">
			<PageLocation
				:depth1="indiDepth1"
				:depth2="indiDepth2"
				:depth3="indiDepth3"
			></PageLocation>
			<section>
				<component :is="currentComponent"></component>
			</section>
		</div>
	</div>
	<!-- <router-view></router-view> -->
</template>

<script>
import PageLocation from '@/components/PageLocation';
import NewsDetail from '@/components/news/NewsDetail.vue';

export default {
	components: {
		PageLocation,
		NewsDetail,
	},
	data() {
		return {
			indiDepth1: '',
			indiDepth2: '',
			indiDepth3: '',
			currentComponent: NewsDetail,
		};
	},
	watch: {
		$route: 'fetchData',
	},
	methods: {
		fetchData() {
			//페이지이동시 최상단으로 이동
			window.scrollTo(0, 0);
			//주소값받아와서 컴포넌트 변경
			const page = this.$route.params.page;
			if (page == 'news') {
				this.indiDepth1 = 'HOME';
				this.indiDepth2 = 'RECENT NEWS';
				this.indiDepth3 = '최근소식';
				this.currentComponent = NewsDetail;
			}
		},
	},
	created() {
		this.fetchData();
	},
};
</script>

<style></style>
