<template>
	<section>
		<section>
			<div class="partnerBox">
				<div class="brandTxtBox">
					<div class="brandTxtBoxInner">
						<div class="tit_box">
							<h2>상품협업 및 사업제휴 안내</h2>
							<p class="tit_txt">
								온라인/오프라인 고객접점 및 업무영역전반에서<br />당사와의
								다양한 상품협업 및 사업제휴를 통한 고객가치제고와<br />당사-파트너사간
								시너지를 창출하기 위한 아이디어들을<br />환영합니다.
							</p>
							<p class="tit_txt">
								언제든지 아래와 같이 당사의 각 사업본부별/법인별 연락처를<br />안내드립니다.
							</p>
						</div>
						<!-- //tit_box -->
					</div>
				</div>
			</div>
			<div class="partnerImgBox">
				<img
					alt=""
					src="@/assets/images/new_2017/contact/TJ_04PARTNERSHIP_CONTACT_01.png"
				/>
			</div>
		</section>
		<section style="clear: both;">
			<div class="tit_box type01">
				<h2>연락처</h2>
			</div>
			<!-- //tit_box -->
			<div class="view_box type02">
				<table class="bbs_view type01">
					<caption>
						연락처는 사업구분, 제휴담당자연락처으로 이루어져 있습니다.
					</caption>
					<colgroup>
						<col style="width: 40%;" />
						<col style="width: auto;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="row">사업구분</th>
							<th scope="row">제휴담당자연락처</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>LOUIS QUATORZE</td>
							<td>stylelq@tjint.net</td>
						</tr>
						<!--tr>
                                <td>LOUIS CLUB</td>
                                <td>sjoh@tjint.net</td>
                            </tr-->
						<tr>
							<td>PLATFORM-L</td>
							<td>space@platform-l.org</td>
						</tr>
						<!--
                            <tr>
                                <td>TRAVEL MATE</td>
                                <td>djkim0206@travelmate.co.kr</td>
                            -->
					</tbody>
				</table>
			</div>
		</section>
	</section>
</template>

<script>
export default {};
</script>

<style></style>
