<template>
	<section>
		<section>
			<div>
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1581.114022808992!2d127.02600042893387!3d37.573247433603996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca34db1aead1f%3A0xf9f0e4243abd4e1d!2z7ISc7Jq47Yq567OE7IucIOuPmeuMgOusuOq1rCDsi6DshKTrj5kgOTMtMTU!5e0!3m2!1sko!2skr!4v1452239147152"
					width="910"
					height="319"
					frameborder="0"
					style="border:0"
					allowfullscreen
				></iframe>
			</div>
			<div class="tit_box type02">
				<h2>본사 위치</h2>
			</div>
			<!-- //tit_box -->
			<div class="locationBox">
				<ul class="locationList">
					<li>
						<dl>
							<dt>주소</dt>
							<dd>
								<strong class="blind">국문 주소</strong>서울특별시 동대문구
								하정로 26 태진사옥<br />(지번) 서울특별시 동대문구 신설동 93-15
								<br />
								<strong class="blind">영문 주소</strong>26, Hajeong-ro,
								Dongdaemun-gu, Seoul, Korea
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>전화번호</dt>
							<dd>02. 2231. 4484</dd>
						</dl>
					</li>
				</ul>
			</div>
		</section>
		<section>
			<div class="tit_box type02">
				<h2>대중교통 이용안내</h2>
			</div>
			<!-- //tit_box -->
			<div class="locationBox">
				<ul class="locationList">
					<li>
						<dl>
							<dt>지하철</dt>
							<dd>
								<span class="subwayLabel01">1호선</span>1호선<span
									class="subwayLabel02"
									>2호선</span
								>2호선 신설동역 9번 출구
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>버스</dt>
							<dd>
								<ul>
									<li>
										<span class="busLabel01">간선</span>303, 370, 721, N30
									</li>
									<li><span class="busLabel02">지선</span>2112, 2221</li>
									<li><span class="busLabel03">직행</span>9301</li>
									<li><span class="busLabel04">광역</span>9403</li>
									<li><span class="busLabel05">공항</span>6002</li>
								</ul>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</section>
	</section>
</template>

<script>
export default {};
</script>

<style></style>
