<template>
	<section>
		<section>
			<div class="tit_box">
				<h2>윤리위원회 안내</h2>
				<p class="tit_txt">
					투명하고 윤리적인 경영을 선도하는 태진 윤리위원회입니다.
				</p>
			</div>
			<!-- //tit_box -->
			<div class="paragraphBox">
				<p class="txt">
					㈜태진인터내셔날 임직원의 불공정한 업무처리나 직위를 이용한 부당한
					요구행위 및 비리에 대한 제보를 받으며<br />비공개 방식으로 처리됩니다.
				</p>
			</div>
		</section>
		<section>
			<div class="tit_box type01">
				<h2>신고안내</h2>
			</div>
			<!-- //tit_box -->
			<div class="view_box type02 ethicBox">
				<table class="bbs_view type01">
					<caption>
						신고안내 상세정보 | 구분, 상세내역으로 이루어져 있습니다.
					</caption>
					<colgroup>
						<col style="width: 40%; user-select: auto;" />
						<col style="width: auto; user-select: auto;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="row">구분</th>
							<th scope="row">상세내역</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>내부비리 사건</td>
							<td>
								업무상 배임, 횡령, 유용, 부당 업무처리 등
							</td>
						</tr>
						<tr>
							<td>뇌물수수감사</td>
							<td>뇌물 제공, 뇌물 수령, 향응접대</td>
						</tr>
						<tr>
							<td>내부고발접수</td>
							<td>폭력사건, 내부 따돌림 등</td>
						</tr>
						<tr>
							<td>성폭력신고접수</td>
							<td>성폭력 사건</td>
						</tr>
						<tr>
							<td>불공정거래행위감사</td>
							<td>
								협력사에 대한 불공정거래행위, 뇌물강요행위 등
							</td>
						</tr>
						<tr>
							<td>도급단가조정</td>
							<td>
								원부자재 가격변경요청 접수, 인테리어 단가협의 요청 접수
							</td>
						</tr>
						<tr>
							<td>업무감사 / 준법감시</td>
							<td>
								전결규정 준수 감사, 보안감사, 기타 업무감사
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<dl class="ethic_contact">
				<dt>신고처 :</dt>
				<dd>
					<a href="mailto:ethics@tjint.net">ethics@tjint.net</a>
				</dd>
			</dl>
			<div class="paragraphBox type01">
				<p class="txt">
					※ 본 윤리위원회는 당사 제품의 위조 및 모방상품에 대한 제보의 접수를
					겸합니다. (제보 시 별도 포상 가능)
				</p>
			</div>
		</section>
	</section>
</template>

<script>
export default {};
</script>

<style></style>
