<template>
	<section>
		<div class="btn_area type01 ">
			<div>
				<a
					href="http://tjinternational.kr/down/recruit.docx"
					class="htcbtnMd type02"
					download
					><span>입사지원서 양식 다운로드</span></a
				>
			</div>
			<div class="msgBox">
				<span class=""
					>* 당사는 입사지원에 필요한 최소한의 정보 외의 개인정보를 요구하지
					않습니다</span
				>
			</div>
		</div>

		<div class="list_box">
			<table class="bbs_list">
				<caption>
					채용공고/지원 목록 | 번호, 모집부문, 진행상황, 바로가기로
					구성되어있습니다.
				</caption>
				<colgroup>
					<col style="width: 10%;" />
					<col style="width: auto;" />
					<col style="width: 10%;" />
					<col style="width: 20%;" />
				</colgroup>
				<thead>
					<tr>
						<th scope="row">번호</th>
						<th scope="row">모집부문</th>
						<th scope="row">진행상황</th>
						<th scope="row">바로가기</th>
					</tr>
				</thead>
				<tbody>
					<template v-if="searchState">
						<tr v-for="(recruit, idx) in filteredList" v-bind:key="idx">
							<td>{{ recruit.recruit_seq }}</td>
							<td class="txt_left">
								<p class="ellipsis type01">
									{{ recruit.recruit_title }}
								</p>
							</td>
							<!-- 접수중,마감 -->
							<td v-if="recruit.recruitDateYn === 'Y'">접수중</td>
							<td v-else>마감</td>
							<!-- //접수중,마감 -->
							<td>
								<div class="btn_recruit">
									<a
										href="https://www.saramin.co.kr"
										target="_blank"
										v-if="
											recruit.link_address == 0 || recruit.link_address == 2
										"
										class="htcbtnxSm type01"
										><span>사람인</span></a
									>
									<a
										href="https://www.incruit.com"
										target="_blank"
										v-if="
											recruit.link_address == 1 || recruit.link_address == 2
										"
										class="htcbtnxSm"
										><span>인쿠르트</span></a
									>
								</div>
							</td>
						</tr>
					</template>
					<template v-else>
						<tr>
							<td colspan="4">
								<div class="data_none">
									<!-- 등록된 게시물이 없을 경우 출력 -->
									<p>현재 진행중인 채용공고가 없습니다.</p>
								</div>
							</td>
						</tr>
					</template>
				</tbody>
			</table>
		</div>
		<!-- //list_box -->
		<Pagenation
			:searchState="searchState"
			:pageNum="pageNum"
			:pageNumberList="pageNumberList"
			:pageUnitNumber="pageUnitNumber"
			:pageUnit="pageUnit"
			:perPageListCnt="this.recruitInfo.perPageListCnt"
			@movePage="movePage"
			@prevPage="prevPage"
			@nextPage="nextPage"
		></Pagenation>
		<!-- //pagenation -->
	</section>
</template>

<script>
// import { RecruitList } from '@/api/index';
import Pagenation from '@/components/common/Pagenation.vue';
export default {
	data() {
		return {
			pageNum: 1, //보여질 페이지수
			pageSize: 6, //한페이지에 보여줄 리스트 수
			pageUnit: 10, // 페이징 번호 노출될 수
			pageUnitNumber: 0,
			searchResult: [],
		};
	},
	components: {
		Pagenation,
	},
	computed: {
		searchState() {
			if (this.recruitInfo.recruitInfoListTotalCnt !== '0') {
				return true;
			} else {
				return false;
			}
		},
		recruitInfo() {
			return this.$store.state.recruit;
		},
		filteredList() {
			if (this.searchResult.length != 0) {
				return this.searchResult;
			} else {
				return this.recruitInfo.recruitList;
			}
		},
		pageNumberList() {
			let visiblePage;
			let lastPage = this.recruitInfo.perPageListCnt % this.pageUnit;
			let fullPage = parseInt(this.recruitInfo.perPageListCnt / this.pageUnit);
			if (this.pageUnitNumber != fullPage) {
				visiblePage = this.pageUnit;
			} else {
				visiblePage = lastPage;
			}
			return visiblePage;
		},
	},
	methods: {
		recruitData() {
			const page = {
				page: this.pageNum,
				size: this.pageSize,
			};
			this.$store.dispatch('LIST_RECRUIT', page);
			console.log(this.recruitInfo);
		},
		movePage() {
			this.pageNum = Number(event.target.innerText);
			this.recruitData();
		},
		nextPage() {
			this.pageNum += 1;
			if ((this.pageNum - 1) % this.pageUnit == 0) {
				this.pageUnitNumber += 1;
			}
			this.recruitData();
		},
		prevPage() {
			if ((this.pageNum - 1) % this.pageUnit == 0) {
				this.pageUnitNumber -= 1;
			}
			this.pageNum -= 1;
			this.recruitData();
		},

		// async recruitData() {
		// 	const page = {
		// 		page: this.pageNum,
		// 		size: this.pageSize,
		// 	};
		// 	const { data } = await RecruitList(page);
		// 	console.log(data);
		// },
	},
	created() {
		this.recruitData();
	},
};
</script>

<style></style>
