<template>
	<div id="header">
		<div class="header_inner">
			<h1>
				<router-link to="/view/main"
					><img
						src="@/assets/images/new_2017/common/img_logo_top.png"
						alt="TAEJIN international"
				/></router-link>
			</h1>
			<div id="localMenuBox" class="localMenuBox">
				<!-- localMenuBox -->
				<h2 class="blind">메인메뉴</h2>
				<ul class="localMenu">
					<li class="gnbm01">
						<a style="cursor: pointer;">ABOUT TJ</a>
						<div class="localMenuSub gnbs01">
							<h3 class="blind">ABOUT 메뉴 목록</h3>
							<ul>
								<li :class="{ on: selected === 'misson' }">
									<router-link to="/view/content/misson"
										>미션 &amp; 비전</router-link
									>
								</li>
								<li :class="{ on: selected === 'ceo' }">
									<router-link to="/view/content/ceo">CEO 인사말</router-link>
								</li>
								<li :class="{ on: selected === 'history' }">
									<router-link to="/view/content/history"
										>CTJ 히스토리</router-link
									>
								</li>
								<li :class="{ on: selected === 'ci' }">
									<router-link to="/view/content/ci">CI</router-link>
								</li>
							</ul>
						</div>
					</li>
					<li class="gnbm02">
						<a style="cursor: pointer;">BUSINESS PORTFOLIO</a>
						<div class="localMenuSub gnbs02">
							<h3 class="blind">BUSINESS PORTFOLIO 메뉴 목록</h3>
							<ul>
								<li :class="{ on: selected === 'fashion' }">
									<router-link to="/view/content/fashion"
										>패션 &amp; 리테일</router-link
									>
								</li>
								<li :class="{ on: selected === 'art' }">
									<router-link to="/view/content/art"
										>아트 &amp; 컬쳐</router-link
									>
								</li>
								<li :class="{ on: selected === 'investment' }">
									<router-link to="/view/content/investment">투자</router-link>
								</li>
							</ul>
						</div>
					</li>
					<li class="gnbm03">
						<a style="cursor: pointer;">NEWS</a>
						<div class="localMenuSub gnbs03">
							<h3 class="blind">NEWS 메뉴 목록</h3>
							<ul>
								<li :class="{ on: selected === 'news' }">
									<router-link to="/view/content/news">최근소식</router-link>
								</li>
								<li :class="{ on: selected === 'society' }">
									<router-link to="/view/content/society"
										>사회공헌활동</router-link
									>
								</li>
								<li :class="{ on: selected === 'culture' }">
									<router-link to="/view/content/culture"
										>문화후원활동</router-link
									>
								</li>
							</ul>
						</div>
					</li>
					<li class="gnbm04">
						<a style="cursor: pointer;">PARTNERSHIP &amp; CONTACT</a>
						<div class="localMenuSub gnbs04">
							<h3 class="blind">PARTNERSHIP &amp; CONTACT 메뉴 목록</h3>
							<ul>
								<li :class="{ on: selected === 'collaborate' }">
									<router-link to="/view/content/collaborate"
										>협업 및 제휴</router-link
									>
								</li>
								<li :class="{ on: selected === 'recruitList' }">
									<router-link to="/view/content/recruitList"
										>인재채용</router-link
									>
								</li>
								<li :class="{ on: selected === 'ethicsCommittee' }">
									<router-link to="/view/content/ethicsCommittee"
										>윤리경영</router-link
									>
								</li>
								<li :class="{ on: selected === 'map' }">
									<router-link to="/view/content/map">오시는 길</router-link>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="dimmed"></div>
		</div>
	</div>
</template>

<script>
export default {
	mounted() {
		//헤더 고정
		const header = document.querySelector('#header');
		document.addEventListener('scroll', function() {
			let pageY = window.pageYOffset;
			if (pageY > 0) {
				header.classList.add('fixed');
			} else {
				header.classList.remove('fixed');
			}
		});
		//gnb 마우스 오버
		const gnb = document.querySelectorAll('.localMenu > li');
		const dim = document.querySelector('.dimmed');
		Array.prototype.forEach.call(gnb, function(gnbElem) {
			gnbElem.addEventListener('mouseenter', function(e) {
				e.preventDefault();
				this.classList.add('on');
				dim.classList.add('on');
			});
			gnbElem.addEventListener('mouseleave', function(e) {
				e.preventDefault();
				this.classList.remove('on');
				dim.classList.remove('on');
			});
		});
	},
	watch: {
		$route: 'fetchData',
	},
	methods: {
		fetchData() {
			const page = this.$route.params.page;
			this.selected = page;
		},
	},
	data() {
		return {
			selected: '',
		};
	},
};
</script>

<style></style>
