<template>
	<div class="page-location">
		<div class="page_location">
			<strong class="blind">현재위치</strong>
			<span class="home"><a href="#wrap">HOME</a></span>
			<span
				><a href="#wrap">{{ depth1 }}</a></span
			>
			<span>{{ depth2 }}</span>
		</div>
		<!-- //page_location -->
		<div v-if="depth3 != ''" class="content_header">
			<h1>{{ depth3 }}</h1>
		</div>
		<!-- //content_header -->
	</div>
</template>

<script>
export default {
	props: ['depth1', 'depth2', 'depth3'],
};
</script>

<style></style>
