@charset "utf-8";

/*****************************************************************
e-Rize
Author : 박기한(Park Gihan)
Publisher : e-Rise
*****************************************************************/

/* CSS Reset */

html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
ol, ul {list-style:none;}
h1,h2,h3,h4,h5 {font-weight:normal;}
input, select {vertical-align:middle;}
html {-webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; text-size-adjust:none;}
table {table-layout:fixed; border-collapse:collapse; border-spacing:0;}

/* ie에서 이미지 공백 오류처리 */
img {vertical-align:top; border:0 none;}

/* 링크 초기화 */
a:link, a:visited, a:hover, a:active {border:none; color:inherit; font-family:inherit; font-size:inherit; letter-spacing:0; text-decoration:none;}
