<template>
	<div>
		<ul id="tab_list_all" class="brandBoxList">
			<li v-for="(business, idx) in businessInfo" :key="idx">
				<div class="content_header first">
					<h1>{{ business.brandbrandName }}</h1>
				</div>
				<div class="brandBox">
					<div class="brandBoxInner">
						<div class="brandTxtBox">
							<div
								class="brandTxtBoxInner"
								v-html="business.brandDescription"
							></div>
							<template v-if="business.snsLinkList.length != 0">
								<div class="btn_area type02">
									<a
										:href="business.snsLinkList[0].linkAddress"
										target="_blank"
										class="htcbtnMd type02"
										><span>홈페이지 바로가기</span></a
									>
								</div>
							</template>
						</div>
						<div class="brandImgBox">
							<div class="brandImgBox__wrap">
								<button
									class="brandImgBox__arrow type-prev js-main-prev"
								></button>
								<button
									class="brandImgBox__arrow type-next js-main-next"
								></button>
								<swiper
									:options="mainSwiper"
									ref="mainSwiper"
									@slideChange="mainSwiperEvent(idx)"
								>
									<swiper-slide
										v-for="(img, idx) in business.imageList"
										:key="idx"
									>
										<img :src="img.filePath" alt="" />
									</swiper-slide>
								</swiper>
							</div>
							<div class="brandImgBox__wrap">
								<button
									class="brandImgBox__arrow type-prev js-thum-prev"
								></button>
								<button
									class="brandImgBox__arrow type-next js-thum-next"
								></button>
								<article class="brand-thum">
									<swiper :options="thumSwiper" ref="thumSwiper">
										<swiper-slide
											v-for="(img, idx2) in business.imageList"
											:key="idx2"
										>
											<img
												@click="toSlide(idx1, idx2)"
												:src="img.filePath"
												alt=""
											/>
										</swiper-slide>
									</swiper>
								</article>
								<div class="snsBox type01">
									<h3 class="blind">SNS공유 목록</h3>
									<ul class="snsList">
										<li v-for="(sns, idx) in business.snsLinkList" :key="idx">
											<a :href="sns.linkAddress" target="_blank">
												<img
													v-if="sns.linkTypeCd == 'lnkt003'"
													src="@/assets/images/common/sns_facebook.png"
												/>
												<img
													v-if="sns.linkTypeCd == 'lnkt004'"
													src="@/assets/images/common/sns_instar.png"
												/>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import 'swiper/css/swiper.css';
export default {
	title: 'Loop mode / Infinite loop',
	components: {
		Swiper,
		SwiperSlide,
	},
	methods: {
		imgPath(path) {
			const pashSlice = path.replace(
				'/www/tjinternational_kr/www/',
				'http://tjinternational.kr/',
			);
			return pashSlice;
		},
		mainSwiperEvent(idx) {
			let activeNum = this.$refs.mainSwiper[idx].$swiper.realIndex;
			this.thumSwiperControl.slideTo(activeNum);
		},
		toSlide(idx, i) {
			this.$refs.mainSwiper[idx].$swiper.slideTo(i);
		},
	},
	data() {
		return {
			img: {},
			mainSwiper: {
				slidesPerView: 1,
				loop: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				navigation: {
					nextEl: '.js-main-next',
					prevEl: '.js-main-prev',
				},
			},
			thumSwiper: {
				slidesPerView: 4,
				slidesPerGroup: 4,
				// loop: true,

				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				navigation: {
					nextEl: '.js-thum-next',
					prevEl: '.js-thum-prev',
				},
			},
		};
	},
	computed: {
		mainSwiperControl: function() {
			return this.$refs.mainSwiper[0].$swiper;
		},
		thumSwiperControl: function() {
			return this.$refs.thumSwiper[0].$swiper;
		},
		businessInfo() {
			return this.$store.state.business.brandList;
		},
	},
};
</script>

<style lang="scss">
.brandBox {
	.brandTxtBox {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		float: none !important;
	}
	.brandImgBox {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		float: none !important;
		img {
			width: 100%;
		}
		&__wrap {
			position: relative;
		}
		&__arrow {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 20px;
			height: 20px;
			margin: auto 0;
			z-index: 10;
			&.type-prev {
				left: 0;
				background: url('../../assets/images/common/prev_arrow.png') no-repeat
					center center / contain;
			}
			&.type-next {
				right: 0;
				background: url('../../assets/images/common/next_arrow.png') no-repeat
					center center / contain;
			}
		}
	}
}
.brand-thum {
	margin-top: 14px;
}
</style>
