<template>
	<div>
		<BusinessItem></BusinessItem>
	</div>
</template>

<script>
import BusinessItem from '@/components/business/BusinessItem.vue';
export default {
	name: 'InvestmentVue',
	components: {
		BusinessItem,
	},
	created() {
		this.$store.dispatch('LIST_BUSINESS', 1);
	},
};
</script>

<style lang="scss"></style>
