<template>
	<div>
		<div class="btn-cover">
			<ul class="pagenation">
				<li>
					<button
						:disabled="pageNum === 1"
						@click="childPrevPage"
						class="page-btn"
					>
						이전
					</button>
				</li>
				<li v-for="(pageList, idx) in pageNumberList" :key="idx">
					<button
						@click="childMovePage"
						:class="{
							active: pageList + pageUnitNumber * pageUnit === pageNum,
						}"
					>
						{{ pageList + pageUnitNumber * pageUnit }}
					</button>
				</li>
				<li>
					<button
						:disabled="pageNum === perPageListCnt"
						@click="childNextPage"
						class="page-btn"
					>
						다음
					</button>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
export default {
	props: [
		'searchState',
		'pageNum',
		'pageNumberList',
		'pageUnitNumber',
		'pageUnit',
		'perPageListCnt',
	],
	methods: {
		nextPage() {
			this._props.pageNum += 1;
			if ((this._props.pageNum - 1) % this._props.pageUnit == 0) {
				this._props.pageUnitNumber += 1;
			}
			// this.newsData();
		},
		prevPage() {
			//이전페이지는 pageNum이 변하기전에  먼저 값을 계산
			if ((this._props.pageNum - 1) % this._props.pageUnit == 0) {
				this._props.pageUnitNumber -= 1;
			}
			this._props.pageNum -= 1;
			// this.newsData();
		},
		childMovePage() {
			this.$emit('movePage');
		},
		childPrevPage() {
			this.$emit('prevPage');
		},
		childNextPage() {
			this.$emit('nextPage');
		},
	},
};
</script>

<style>
.pagenation {
	margin: 30px 0 0 0;
	text-align: center;
}
.pagenation li {
	display: inline-block;
	width: 40px;
	height: 40px;
}
.pagenation li + li {
	margin-left: 5px;
}
.pagenation button.active {
	background-color: #808183;
	color: #fff;
}
.pagenation button {
	width: 100%;
	height: 100%;
}
</style>
