<template>
	<div>
		<!-- //content_header -->
		<section>
			<div class="tit_box">
				<h2>
					폭넓은 문화 · 예술 후원으로 한국 - 프랑스 문화교류의 가교 역할
				</h2>
				<p class="tit_txt">
					태진인터내셔날은 창립 이래 문화 · 예술에 대한 지속적인 관심과 아낌없는
					후원을 지속하여 <br />사회 · 문화적 기업으로서의 책임을 다하고
					있습니다.
				</p>
			</div>
			<!-- //tit_box -->
			<div class="paragraphBox">
				<p class="txt">
					대표적으로 Versailles 전시회, 프랑스 화가 George Braque 북경 전시회,
					모딜리아니 한국 전시회, 20세기 프랑스 사진의 거장전, 프랑스 소프라노
					Elizabeth Vidal 공연, 모스크바 필하모닉 오케스트라 내한공연,
					부산국제영화제, 시네프랑스 등 수많은 국내외 문화 · 예술 활동을
					후원해왔습니다.
				</p>
			</div>
			<div class="paragraphBox">
				<p class="txt">
					2013년 프랑스 정부에서는 이러한 한국 - 프랑스 문화교류의 가교 역할
					공로를 인정받아 대표이사 전용준 회장에게 문화예술 부문 슈발리에 훈장을
					수여한 바 있습니다.
				</p>
			</div>
			<div class="socialBox type01">
				<ul class="socialList">
					<li class="type01">
						<p>문화교류<br />가교역할</p>
					</li>
					<li class="type01">
						<p>문화예술<br />후원</p>
					</li>
					<li class="type01">
						<p>사회 · 문화적<br />기업</p>
					</li>
				</ul>
			</div>
		</section>
		<section>
			<div class="tit_box type01">
				<h2>주요 활동</h2>
				<p class="tit_txt">
					태진인터내셔날의 문화후원활동
				</p>
			</div>
			<!-- //tit_box -->
			<div class="list_box type02">
				<ul class="bbs_thumb_list type02">
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_cultural06.jpg"
								alt="문화예술 행사 및 전시 후원"
							/>
							<p class="txt ellipsis type01">
								문화예술 행사 및 전시 후원
							</p>
							<span class="sub_txt"
								>오르세미술관전, 뮤지컬&lt;태양왕&gt; 등</span
							>
						</div>
					</li>
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_cultural05.jpg"
								alt="프랑스 문화 후원 및 홍보"
							/>
							<p class="txt ellipsis type01">
								프랑스 문화 후원 및 홍보
							</p>
							<span class="sub_txt">프랑스 유니세프, BIFF 프렌치나잇 등</span>
						</div>
					</li>
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_cultural04.jpg"
								alt="내한 아티스트 후원"
							/>
							<p class="txt ellipsis type01">
								내한 아티스트 후원
							</p>
							<span class="sub_txt"
								>막심 므라비차, 픽시 로트, 로라 피지 등</span
							>
						</div>
					</li>
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_cultural03.jpg"
								alt="문화예술 프로그램 장기 스폰서쉽"
							/>
							<p class="txt ellipsis type01">
								문화예술 프로그램 장기 스폰서쉽
							</p>
							<span class="sub_txt">토크앤콘서트, 시네프랑스('11~'15)</span>
						</div>
					</li>
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_cultural02.jpg"
								alt="아트 콜라보레이션 진행"
							/>
							<p class="txt ellipsis type01">
								아트 콜라보레이션 진행
							</p>
							<span class="sub_txt">모모트 페이퍼아트, 김중만 사진전 등</span>
						</div>
					</li>
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_cultural01.jpg"
								alt="프랑스 문화예술공로 훈장 수훈"
							/>
							<p class="txt ellipsis type01">
								프랑스 문화예술공로 훈장 수훈
							</p>
							<span class="sub_txt"
								>Chevalier dans l'ordre des Arts et Lettres</span
							>
						</div>
					</li>
				</ul>
			</div>
			<!-- //list_box -->
		</section>
	</div>
</template>

<script>
export default {};
</script>

<style></style>
