<template>
	<section>
		<section>
			<!-- view_box -->
			<div class="view_box type01">
				<div class="snsBox">
					<strong class="blind">SNS공유 목록</strong>
					<ul class="snsList">
						<li class="sns01">
							<a href="#" onclick="fn_share_facebook(); return false;"
								><span class="blind">페이스북</span></a
							>
						</li>
						<li class="sns04">
							<a href="#" onclick="fn_share_twitter(); return false;"
								><span class="blind">트위터</span></a
							>
						</li>
						<li class="sns03">
							<a href="#" onclick="fn_share_naverBlog(); return false;"
								><span class="blind">블로그</span></a
							>
						</li>
						<li class="sns05">
							<a href="#" onclick="fn_share_weibo(); return false;"
								><span class="blind">웨이보</span></a
							>
						</li>
					</ul>
				</div>
				<div class="view_tit_box">
					<h2 class="tit">{{ newsTitle }}</h2>
					<span class="date">
						{{ createTimeMod }}
					</span>
				</div>
				<div class="in_txt_box type01" v-html="news_description"></div>
			</div>
		</section>
		<section>
			<!-- next_box -->
			<div class="next_box type01">
				<h2 class="blind">이전글, 다음글 정보</h2>
				<ul class="bbs_next type01">
					<li>
						<template v-if="prevIdx">
							<strong class="tit">이전글</strong>
							<div class="inner ellipsis">
								<router-link :to="`/view/detail/news/${prevIdx}`">
									<span class="next_img">
										<img :src="prevImg" alt="" />
									</span>
									{{ prevTitle }}
								</router-link>
							</div>
						</template>
						<template v-else>
							<strong class="tit">이전글</strong>
							<div class="inner ellipsis">
								<span class="next_img"></span>
								이전글이 없습니다.
							</div>
						</template>
					</li>
					<li>
						<template v-if="nextIdx">
							<strong class="tit">다음글</strong>
							<div class="inner ellipsis">
								<router-link :to="`/view/detail/news/${nextIdx}`">
									<span class="next_img">
										<img :src="nextImg" alt="" />
									</span>
									{{ nextTitle }}
								</router-link>
							</div>
						</template>
						<template v-else>
							<strong class="tit">다음글</strong>
							<div class="inner ellipsis">
								<span class="next_img"></span>
								다음글이 없습니다.
							</div>
						</template>
					</li>
				</ul>
			</div>
		</section>
		<section>
			<!-- view_footer -->
			<div class="view_footer">
				<h2 class="blind">상세내용 하단 정보</h2>
				<div class="btn_area type01">
					<router-link to="/view/content/news" class="htcbtnMd"
						><span>목록보기</span></router-link
					>
				</div>
			</div>
		</section>
	</section>
</template>

<script>
import { FetchNews } from '@/api/index.js';
export default {
	data() {
		return {
			newsTitle: '',
			createTime: '',
			news_description: '',
			prevIdx: '',
			prevTitle: '',
			prevImg: '',
			nextIdx: '',
			nextTitle: '',
			nextImg: '',
		};
	},
	computed: {
		createTimeMod() {
			const originTime = this.createTime.substring(0, 10);
			const originTimes = originTime.split('-');
			const modTime = `${originTimes[0]}.${originTimes[1]}.${originTimes[2]}`;
			return modTime;
		},
	},
	methods: {
		// imgPath(path) {
		// 	const pashSlice = path.replace(
		// 		'/www/tjinternational_kr/www/',
		// 		'http://tjinternational.kr/',
		// 	);
		// 	return pashSlice;
		// },
		async fetchData() {
			const idx = this.$route.params.idx;
			const { data } = await FetchNews(idx);
			console.log(data);
			this.news_description = data.newsInfo.news_description;
			this.newsTitle = data.newsInfo.news_title;
			this.createTime = data.newsInfo.create_time;
			if (data.prevIdx) {
				this.prevIdx = data.prevIdx;
				this.prevTitle = data.newsPrevInfo.news_title;
				this.prevImg = data.newsPrevInfo.filePath;
			} else {
				this.prevIdx = false;
			}
			if (data.nextIdx) {
				this.nextIdx = data.nextIdx;
				this.nextTitle = data.newsNextInfo.news_title;
				this.nextImg = data.newsNextInfo.filePath;
			} else {
				this.nextIdx = false;
			}
		},
	},
	watch: {
		$route: 'fetchData',
	},
	created() {
		console.log('detail 접속');
		this.fetchData();
	},
};
</script>

<style></style>
