<template>
	<section>
		<div class="searchBox type01">
			<form @submit.prevent>
				<input type="hidden" name="pageIndex" value="1" />
				<h2 class="blind">검색하기</h2>
				<div class="inner">
					<div class="selectBox">
						<select
							name="searchCondition"
							id="searchType"
							title="검색 유형 선택란"
							sb="2956126"
							style="display: none; user-select: auto;"
							v-model="searchCondition"
						>
							<option value="0">제목</option>
							<option value="1">내용</option>
						</select>
						<div id="sbHolder_2956126" class="sbHolder">
							<a
								id="sbToggle_2956126"
								@click="selectBox"
								href="#"
								class="sbToggle"
							></a
							><a
								id="sbSelector_2956126"
								@click="selectBox"
								href="#"
								class="sbSelector"
								>제목</a
							>
							<ul
								id="sbOptions_2956126"
								class="sbOptions"
								style="display: none; user-select: auto;"
							>
								<li>
									<a @click="selectOption" href="#0" rel="0" class="sbFocus"
										>제목</a
									>
								</li>
								<li>
									<a @click="selectOption" href="#1" rel="1">내용</a>
								</li>
							</ul>
						</div>
					</div>
					<input
						type="text"
						maxlength="255"
						name="searchKeyword"
						id="searchKeyword"
						title="검색어 입력란"
						placeholder="검색어를 검색하세요"
						value=""
						v-model="searchKeyword"
					/>
					<button type="submit" @click="searchBtn" class="icoBtn_search">
						<span class="blind">검색</span>
					</button>
				</div>
			</form>
		</div>
		<div class="list_box type02">
			<template v-if="this.newsInfo.newsInfoListTotalCnt === 0">
				<div class="search_none type01">
					<!-- 검색 결과가 없을 경우 출력 -->
					<p>
						검색 결과가 없습니다. 키워드를 확인하세요.
					</p>
				</div>
			</template>
			<template v-else>
				<h2 class="blind">NEWS 이미지 목록</h2>
				<ul class="bbs_thumb_list">
					<li
						v-for="(news, idx) in this.newsInfo.newsInfoList"
						v-bind:key="idx"
					>
						<a href="" @click.prevent="newsDetail(idx)">
							<div class="thumbBox">
								<div class="imgBox">
									<img
										:src="`${host}/file/image/${news.file_mask}`"
										alt="#"
										width="292"
										height="163"
									/>
								</div>
								<p class="txt ellipsis type02">
									{{ news.news_title }}
								</p>
								<span class="date">
									{{ news.update_time }}
								</span>
							</div>
						</a>
					</li>
				</ul>
			</template>
		</div>
		<!-- //list_box -->
		<Pagenation
			:pageNum="pageNum"
			:pageNumberList="pageNumberList"
			:pageUnitNumber="pageUnitNumber"
			:pageUnit="pageUnit"
			:perPageListCnt="this.newsInfo.perPageListCnt"
			@movePage="movePage"
			@prevPage="prevPage"
			@nextPage="nextPage"
		></Pagenation>
		<!-- //pagenation -->
	</section>
</template>

<script>
import Pagenation from '@/components/common/Pagenation.vue';
export default {
	data() {
		return {
			host: 'http://tjinternational.kr',
			pageNum: 1, //보여질 페이지수
			pageSize: 10, //한페이지에 보여줄 리스트 수
			pageUnit: 10, // 페이징 번호 노출될 수
			pageUnitNumber: 0,
			searchKeyword: '',
			searchCategori: '',
			searchResult: [],
			searchCondition: 0,
			searchState: false,
		};
	},
	components: {
		Pagenation,
	},
	computed: {
		newsInfo() {
			return this.$store.state.news;
		},
		pageNumberList() {
			let visiblePage;
			let lastPage = this.newsInfo.perPageListCnt % this.pageUnit;
			let fullPage = parseInt(this.newsInfo.perPageListCnt / this.pageUnit);
			if (this.pageUnitNumber != fullPage) {
				visiblePage = this.pageUnit;
			} else {
				visiblePage = lastPage;
			}
			return visiblePage;
		},
	},
	methods: {
		selectBox(e) {
			e.preventDefault();
			const selectBoxElem = e.currentTarget.parentNode;
			const optionsElem = selectBoxElem.querySelector('.sbOptions');
			//열고닫기
			if (optionsElem.style.display == 'none') {
				optionsElem.style.display = 'block';
			} else {
				optionsElem.style.display = 'none';
			}
		},
		selectOption(e) {
			e.preventDefault();
			const selectOptionElem = e.currentTarget;
			const selectOptionElemValue = selectOptionElem.rel;
			const selectOptionText = selectOptionElem.text;
			const optionsElem = selectOptionElem.parentNode.parentNode;
			const optionsElemTitle = optionsElem.parentNode.querySelector(
				'.sbSelector',
			);
			//텍스트 넣기
			optionsElemTitle.text = selectOptionText;
			//셀렉트 옵션값 넣기
			this.searchCondition = selectOptionElemValue;
			optionsElem.style.display = 'none';
		},
		searchBtn() {
			this.newsData();
		},
		newsData() {
			const page = {
				page: this.pageNum,
				size: this.pageSize,
				searchCondition: this.searchCondition,
				searchKeyword: this.searchKeyword,
			};
			this.$store.dispatch('LIST_NEWS', page);
		},
		movePage() {
			this.pageNum = Number(event.target.innerText);
			this.newsData();
		},
		nextPage() {
			this.pageNum += 1;
			if ((this.pageNum - 1) % this.pageUnit == 0) {
				this.pageUnitNumber += 1;
			}
			this.newsData();
		},
		prevPage() {
			if ((this.pageNum - 1) % this.pageUnit == 0) {
				this.pageUnitNumber -= 1;
			}
			this.pageNum -= 1;
			this.newsData();
		},
		newsDetail: function(idx) {
			const seq = this.newsInfo.newsInfoList[idx].news_seq;
			this.$router.push(`/view/detail/news/${seq}`);
		},
	},
	created() {
		this.newsData();
	},
};
</script>

<style lang="scss">
.selectBox {
	margin-right: 5px;
}
</style>
