<template>
	<div>
		<section>
			<div class="tit_box">
				<h2>
					지속적인 나눔과 사랑을 실천하는 사회적 기업
				</h2>
				<p class="tit_txt">
					태진인터내셔날은 지역사회에 공헌하기 위한 봉사활동과 후원도 지속적으로
					진행하고 있습니다.
				</p>
			</div>
			<!-- //tit_box -->
			<div class="paragraphBox">
				<p class="txt">
					2012년 동대문구청과 사회공헌 활동 MOU를 체결하여, 매월 관내 복지 시설
					봉사활동, 물품 기증, 지식 나눔 등 정기적인 사회공헌 활동을
					진행해왔으며, 그 밖에도 사랑의 헌혈 행사(2014년, 대한적십자회),
					연탄나눔 봉사(2014년, 동대문구 제기동), 김장 나눔 봉사(2014년,
					다일복지재단) 등을 통해 이웃 사랑의 정신을 실천하고 있습니다.
				</p>
			</div>
			<div class="paragraphBox">
				<p class="txt">
					또한 아름다운가게, 아프리카 수단 희망의 망고나무, 유니세프, 한국백혈병
					어린이재단, 동대문구 사회복지협의회, 홀트아동 복지회 등 다양한
					후원활동 역시 지속적으로 진행하고 있습니다.
				</p>
			</div>
			<div class="socialBox">
				<ul class="socialList">
					<li class="type01">
						<p>지역사회<br />공헌</p>
					</li>
					<li>
						<p>봉사활동</p>
					</li>
					<li>
						<p>후원활동</p>
					</li>
				</ul>
			</div>
		</section>
		<section>
			<div class="tit_box type01">
				<h2>주요 활동</h2>
				<p class="tit_txt">
					태진인들의 사회공헌 활동들.
				</p>
			</div>
			<!-- //tit_box -->
			<div class="list_box type02">
				<ul class="bbs_thumb_list type01">
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_social06.jpg"
								alt="부산 신애 재활원"
							/>
							<p class="txt ellipsis type01">
								부산 신애 재활원
							</p>
							<span class="date"></span>
						</div>
					</li>
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_social05.jpg"
								alt="홀트 일산 복지타운"
							/>
							<p class="txt ellipsis type01">
								홀트 일산 복지타운
							</p>
							<span class="date"></span>
						</div>
					</li>
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_social04.jpg"
								alt="밥퍼 나눔"
							/>
							<p class="txt ellipsis type01">
								밥퍼 나눔
							</p>
							<span class="date"></span>
						</div>
					</li>
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_social03.jpg"
								alt="대전 이안요양원"
							/>
							<p class="txt ellipsis type01">
								대전 이안요양원
							</p>
							<span class="date"></span>
						</div>
					</li>
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_social02.jpg"
								alt="부산 신애 재활원"
							/>
							<p class="txt ellipsis type01">
								부산 신애 재활원
							</p>
							<span class="date"></span>
						</div>
					</li>
					<li>
						<div class="thumbBox">
							<img
								src="@/assets/images/pr/img_thumb_social01.jpg"
								alt="연탄 나눔"
							/>
							<p class="txt ellipsis type01">
								연탄 나눔
							</p>
							<span class="date"></span>
						</div>
					</li>
				</ul>
			</div>
			<!-- //list_box -->
		</section>
	</div>
</template>

<script>
export default {};
</script>

<style></style>
