<template>
	<div id="app">
		<Header></Header>
		<router-view></router-view>
		<!-- <component :is="currentComponent"></component> -->
		<Footer></Footer>
	</div>
</template>

<script>
import Header from '@/components/Header';
import Footer from '@/components/Footer';
// import ContentPage from '@/views/ContentPage';
// import MainPage from '@/views/MainPage';
// import DetailPage from '@/views/DetailPage';
export default {
	name: 'App',
	data() {
		return {
			currentComponent: 'MainPage',
		};
	},
	watch: {
		$route: 'fetchData',
	},
	methods: {
		fetchData() {
			const categori = this.$route.params.categori;
			if (categori == 'content') {
				this.currentComponent = 'ContentPage';
			} else if (categori == 'main') {
				this.currentComponent = 'MainPage';
			} else if (categori == 'detail') {
				this.currentComponent = 'DetailPage';
			}
		},
	},
	components: {
		Header,
		Footer,
		// MainPage,
		// ContentPage,
		// DetailPage,
	},
};
</script>

<style></style>
